body {
  background-color: #333;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center; */
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  /* padding: 2rem 0; */
}

.container {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* text-align: center; */
  max-width: 1600px;
  align-self: center;
  padding: 0 2rem;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #C5AE6A;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Metaschool 
by Fabrice*/

img {
  max-width: 100%;
  height: auto;
}

.header {
  margin-top: 2rem;
}
.etherscan-link {
  margin-top: 1.25rem;
}

.main {

}

.withdraw {
  position: absolute;
  right: 2rem;
  top: 24px;
}
 
.nfts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  grid-template-rows: auto;
  row-gap: 2rem;

  margin: 2rem 0;
}

.nft {
  /* background-color: #282c34; */
  /* align-self: center; */
  background-color: #262626;
  border-radius: 6px;
  justify-content: center;
}

.nft__img {
  border-radius: 6px 6px 0 0;
}
.nft__bottom {
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.nft__description {

}
.nft__button {
  width: 80%;
}
 
button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #C5AE6A;
  color: white;
  cursor: pointer;
  transition: .2s ease;
  width: 100%;
}
 
button:hover {
  background-color: #786a40;
}
 
.imgGrid {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-gap: 50px; */
  margin-top: 50px;
  grid-auto-flow: dense;
  /* width: 100%; */
}
 
/* .contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #4CAF50;
  border-radius: 15px;
  padding: 20px;
} */

.footer-alt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px 0;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-direction: column; */
  /* align-items: center; */
  padding: 24px 0;
  background-color: #262626;
}

@media screen and (max-width: 1200px) {
  .nfts {
    grid-template-columns: repeat(3, 1fr);
  }
}
 
@media screen and (max-width: 1000px) {
  .nfts {
    grid-template-columns: repeat(2, 1fr);
  }
}
 
@media screen and (max-width: 600px) {
  /* .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  } */
  .withdraw {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 2rem;
    /* order: 1; */
  }
  .nfts {
    grid-template-columns: repeat(1, 1fr);
  }
}