h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center; */
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  padding: 2rem 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Metaschool */

a {
  color: #C5AE6A;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 80%;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.withdraw {
  position: absolute;
  right: 24px;
  top: 24px;
}

.imgDiv {
  /* display: inline-grid; */
  margin: 10px;
}
.imgDiv button {
  margin: 10px auto 0px auto;
 
}
 
.nfts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  grid-template-rows: auto;
  row-gap: 2rem;

  margin: 4rem 0;
}

.nft {

}
 
button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #C5AE6A;
  color: white;
  cursor: pointer;
  transition: .2s ease;
  width: 100%;
}
 
button:hover {
  background-color: #786a40;
}
 
.imgGrid {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-gap: 50px; */
  margin-top: 50px;
  grid-auto-flow: dense;
  /* width: 100%; */
}
 
.contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #4CAF50;
  border-radius: 15px;
  padding: 20px;
}

.footer {
  margin-top: 2rem;
}
 
@media screen and (max-width: 1000px) {
  .imgGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
 
@media screen and (max-width: 600px) {
  .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}